<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Blog{% endblock %}</title>
</head>
<body>
<!-- Navbar -->
<nav>
    <ul>
        <li><a href="{% url 'post_list' %}">Inicio</a></li>
        <li><a href="{% url 'about' %}">Acerca de mí</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'create_post' %}">Crear Post</a></li>
            <li><a href="{% url 'view_profile' %}">Mi Perfil</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
            <li><a href="{% url 'signup' %}">Registrarse</a></li>
        {% endif %}
    </ul>
</nav>

    <!-- Mensajes -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert alert-{{ message.tags }}" style="color: green; font-weight: bold;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- Contenido principal -->
    <div>
        {% block content %}{% endblock %}
    </div>

    <!-- Pie de página -->
    <footer>
        <p>© DeportBlog 2024</p>
    </footer>
</body>
</html>
