{% extends 'base.html' %}

{% block title %}Acerca de mí{% endblock %}

{% block content %}
    <h1>Acerca de mí</h1>
    <p>Este blog fue desarrollado por Augusto Buccolini como parte de un proyecto final para CODERHOUSE.</p>
    <p>Soy un licenciado en administración de empresas con un fuerte interés en el análisis de datos y las nuevas tecnologías. 
        Actualmente me desempeño como US Tax Specialist 3 en PwC Argentina, donde perfecciono mis habilidades analíticas y operativas en un entorno desafiante y dinámico. Previamente, tuve la oportunidad de trabajar como analista de administración agrícola en Bodega Trivento, optimizando procesos administrativos y colaborando con equipos de operaciones.
        Busco oportunidades que me permitan integrar mis conocimientos administrativos con el análisis de datos aplicado al ámbito deportivo, generando insights que mejoren el rendimiento, optimicen estrategias y faciliten la toma de decisiones clave en equipos o instituciones deportivas. Mi meta es crecer como profesional en el área de data deportiva, combinando mi pasión por los deportes con un enfoque analítico, resiliente y orientado a resultados.
    </p>
{% endblock %}