{% extends 'base.html' %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
    <h1>Editar Perfil</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Información de Usuario</legend>
            {{ user_form.as_p }}
        </fieldset>
        <fieldset>
            <legend>Perfil</legend>
            {{ profile_form.as_p }}
        </fieldset>
        <button type="submit" class="btn btn-success">Guardar Cambios</button>
    </form>
    <a href="{% url 'view_profile' %}" class="btn btn-secondary">Volver</a>
{% endblock %}