{% extends 'base.html' %}

{% block title %}Mi Perfil{% endblock %}

{% block content %}
    <h1>Mi Perfil</h1>
    <div>
        {% if profile.image %}
            <img src="{{ profile.image.url }}" alt="Foto de perfil" style="max-width: 150px; border-radius: 50%;">
        {% else %}
            <p>No tienes una foto de perfil.</p>
        {% endif %}
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Actualizar Perfil</button>
    </form>
{% endblock %}