{% extends 'base.html' %}

{% block title %}Mi Perfil{% endblock %}

{% block content %}
    <h1>Perfil de {{ user.username }}</h1>
    <p><strong>Nombre:</strong> {{ user.first_name }}</p>
    <p><strong>Apellido:</strong> {{ user.last_name }}</p>
    <p><strong>Correo Electrónico:</strong> {{ user.email }}</p>

    {% if profile %}
        {% if profile.image %}
            <p><strong>Imagen:</strong></p>
            <img src="{{ profile.image.url }}" alt="Imagen de perfil" style="width: 150px; height: auto; border: 1px solid #ccc; border-radius: 5px;">
        {% else %}
            <p><strong>Imagen:</strong> No configurada.</p>
        {% endif %}
    {% else %}
        <p><strong>Perfil:</strong> No existe un perfil asociado a este usuario.</p>
    {% endif %}

    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Editar Perfil</a>
{% endblock %}